@import url('../node_modules/bulma/css/bulma.min.css');

$background-color:	#ffffff;
$color1: 			#28A2FF;
$color2: 			#052F5F;
$color3: 			#D9E5D6;
$color4: 			#29B2A4;
$color5: 			#BDFFFD;
$danger:			#FF4100;
$font: 				17.6px;
$font-color: 		#444444;


html,
body {
	box-sizing: border-box;
	font-size: $font;
	scroll-behavior: smooth;
}

html,
body {
	color: $font-color;
	font-family: 'Inter', sans-serif;
	/*font-family: 'Exo 2', sans-serif;*/
	font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Baloo 2', sans-serif;
	margin: 0;
	padding: 0;
}

a, a:visited, a:active {
	color: $color1;
	text-decoration: none;
}

a:hover {
	color: darken($color1, 15%);
	text-decoration: none;
}

.show {
	opacity : 1;
	visibility : visible;
	transition:opacity 1s, visibility .5s;
}

.hidden {
	opacity : 0;
	visibility : hidden;
	transition:opacity 1s, visibility .5s;
}

.display-none {
	display:none;
}
.display-block {
	display:block;
}


.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}


.responsive {
	width:100%; 
	height: auto; 
	max-width: 600px;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}  
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}


.navbar {
	overflow: hidden;
	background-color: #222222;
	position: fixed;
	top: 0;	
	width: 100%;
	.columns {
		width: 100%;
	}
}


.home {
	margin-top: 8rem;
}


#details-header {
	background-color: #000000;
	position:relative; 

}
@media only screen and (max-width: 768px) {
	#details-header {
		/*height: 50px;*/
		img {
			/*max-width:300px;*/
		}
	}
}

#details {
	height: auto;
	top:50px;
	position:relative; 
}

.pagination2 {
	.currentPage {
		background-image: url(../images/currentPage.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		height: 10px;
		width: 10px;
	}
	.defaultPage {
		background-image: url(../images/defaultPage.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		height: 10px;
		width: 10px;
	}

	a {
		cursor: pointer;
		margin: 0 .2rem;
	}	
}


.bg1 {
	background: rgb(139,0,0);
	background: linear-gradient(180deg, rgba(139,0,0,1) 0%, rgba(139,0,0,1) 48%, rgba(83,0,0,1) 100%);
}

.bg2 {
	background: rgb(34,139,32);
	background: linear-gradient(180deg, rgba(34,139,32,1) 0%, rgba(34,139,32,1) 48%, rgba(19,77,18,1) 100%);
}


.bg3 {
	background: #2F4F4F;
}

.bg4 {
	background: #DAA520;
}

.bg5 {
	background: #4B0082;
}

.bg6 {
	background: #191970;
}

.bg7 {
	background: #5F9EA0;
}