@import url("../node_modules/bulma/css/bulma.min.css");
html,
body {
  box-sizing: border-box;
  font-size: 17.6px;
  scroll-behavior: smooth;
}

html,
body {
  color: #444444;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  color: #28A2FF;
  text-decoration: none;
}

a:hover {
  color: #007cdb;
  text-decoration: none;
}

.show {
  display: block;
  -webkit-animation: fadeIn .1s;
  animation: fadeIn .1s;
}

.hidden {
  display: none;
  -webkit-animation: fadeIn .1s;
  animation: fadeIn .1s;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 600px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about h1 {
  color: #052F5F;
  font-family: 'Exo 2', sans-serif;
}

.career-projects ul {
  margin-left: 1.2rem;
  list-style-type: disc;
}

.education h4 {
  color: #BDFFFD;
}

.header-bkg {
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  background-image: url("../images/hero-blank.png");
  /*min-height: 200px;*/
}

@media only screen and (max-width: 769px) {
  .header-bkg {
    /*background-color: #ffffff;
		background-image: none;	
		height: inherit;
		span {
			color: #333333;
		}*/
  }
}

.caremanager {
  background-image: url("../images/hero-caremanager.png");
}

.specialty {
  background-image: url("../images/hero-specialty.png");
}

.insights {
  background-image: url("../images/hero-insights.png");
}

.worklist {
  background-image: url("../images/hero-central-worklist.png");
}

.portal {
  background-image: url("../images/hero-patient-portal.png");
}

.care-event {
  background-image: url("../images/hero-care-event.png");
}
