@charset "UTF-8";
@import url("normalize.css");
.edge--bottom {
  position: relative;
  z-index: 1; }
  .edge--bottom:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%; }

.edge--bottom--reverse {
  position: relative;
  z-index: 1; }
  .edge--bottom--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.edge--top {
  position: relative;
  z-index: 1; }
  .edge--top:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }

.edge--top--reverse {
  position: relative;
  z-index: 1; }
  .edge--top--reverse:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }

.edge--both {
  position: relative;
  z-index: 1; }
  .edge--both:before, .edge--both:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }
  .edge--both:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%; }

.edge--both--reverse {
  position: relative;
  z-index: 1; }
  .edge--both--reverse:before, .edge--both--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }
  .edge--both--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 0; }

.-berry {
  background: #b52b4a; }

.-blue {
  background: #41ade5; }

.-orange {
  background: #de6628; }

.-green {
  background: #5e9b42; }

html,
body {
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300; }

a, a.visited {
  color: blue; }

main {
  background-color: transparent;
  margin: 0 auto;
  padding-bottom: 10rem; }

nav {
  display: block; }
  nav .navigation {
    justify-items: right;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  nav .navigation li {
    color: transparent;
    display: block;
    text-align: center; }
  nav .navigation .logo {
    margin-right: auto;
    margin-left: auto; }
  nav .navigation a {
    color: #333333;
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: 16px 20px;
    text-decoration: none;
    transition: .5s; }
  nav .navigation a:hover {
    background-color: gold;
    color: black; }

.container {
  width: 70%;
  margin: .5rem auto; }

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: .5rem auto; } }
.background {
  margin-bottom: 4rem; }

.about ul {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  line-height: 3.0rem;
  list-style: none; }

.skills h2 {
  margin-bottom: .5rem; }
.skills .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; }
  .skills .content h4 {
    font-weight: 600; }
  .skills .content div {
    margin-bottom: 2rem; }
  .skills .content ul {
    margin: 0;
    padding: 0;
    line-height: 2.0rem;
    list-style: none; }

.career-history h2 {
  margin-bottom: .5rem; }
.career-history .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; }
  .career-history .content h4 {
    font-weight: 600; }
  .career-history .content div {
    margin-bottom: 2rem; }
.career-history article {
  cursor: pointer;
  display: block;
  padding: .6rem .6rem;
  border-radius: 6px; }
.career-history article:hover {
  background-color: royalblue;
  color: #ffffff; }
.career-history .content {
  flex-direction: column; }
.career-history article {
  font-size: 1.2rem; }

.projects h2 {
  margin-bottom: .5rem; }
.projects .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; }
  .projects .content h4 {
    font-weight: 600; }
  .projects .content div {
    margin-bottom: 2rem; }
.projects article {
  cursor: pointer;
  display: block;
  padding: .6rem .6rem;
  border-radius: 6px; }
.projects article:hover {
  background-color: royalblue;
  color: #ffffff; }
.projects .content {
  flex-direction: column; }
.projects article {
  font-size: 1.2rem; }

.quote1,
.quote2 {
  background-color: #333333;
  color: #ffffff;
  padding: .5rem;
  margin-bottom: 4rem; }
  .quote1 .content .quotation,
  .quote2 .content .quotation {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    quotes: "“" "”" "‘" "’";
    line-height: 1.4;
    margin: 0; }
  .quote1 .content .quotation:before, .quote1 .content .quotation:after,
  .quote2 .content .quotation:before,
  .quote2 .content .quotation:after {
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    color: #7e7e7e;
    font-size: 4rem; }
  .quote1 .content .quotation:before,
  .quote2 .content .quotation:before {
    content: open-quote;
    line-height: 0;
    left: -10px;
    top: 30px; }
  .quote1 .content .quotation::after,
  .quote2 .content .quotation::after {
    content: close-quote;
    line-height: 0;
    left: 10px;
    top: 35px; }
  .quote1 .content footer,
  .quote2 .content footer {
    display: block;
    margin: 0;
    text-align: right;
    font-family: 'Lora', serif;
    font-size: 1.0rem;
    font-style: italic; }

@media only screen and (max-width: 600px) {
  .quote1 .content,
  .quote2 .content {
    margin: 0;
    width: 90%; } }
.details-highlights {
  webkit-animation: fadeIn .6s;
  animation: fadeIn .6s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.6rem;
  max-width: 40rem;
  margin: 6rem auto 0 auto; }
  .details-highlights h3 {
    font-size: 1.2rem;
    font-weight: 600px;
    margin: 0; }
  .details-highlights .details-screenshots {
    /*margin: 2rem;*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .details-highlights .details-screenshots .career__screenshot {
      /*min-width: 300px;*/
      max-width: 100%; }
  .details-highlights .detail-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: .5rem; }
    .details-highlights .detail-header h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0; }
    .details-highlights .detail-header span {
      font-size: 1.0rem; }
  .details-highlights .details-content {
    /*max-width: 400px;*/
    font-size: 1.0rem;
    padding: 0 2rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .details-highlights .details-content ul li {
      margin-bottom: .5rem; }

@media only screen and (max-width: 600px) {
  .details-highlights {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 40rem; }
    .details-highlights .details-content {
      margin: 1rem 1rem;
      padding: 0; } }
.pagination-container {
  background-color: #ffffff;
  height: 5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 40rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .pagination-container .home, .pagination-container .back, .pagination-container .next {
    cursor: pointer;
    display: inline;
    font-size: .8rem; }
  .pagination-container .back, .pagination-container .next {
    color: #14a8fc;
    margin: 0 .4rem; }
  .pagination-container .home {
    color: darkred; }
  .pagination-container .home:hover {
    /*font-size: 2.4rem;
    transition: font-size .2s;*/
    color: #580000; }
  .pagination-container .next:hover, .pagination-container .back:hover {
    color: #026ca8; }

.pagination {
  display: inline; }
  .pagination a {
    cursor: pointer;
    font-size: 1.0rem;
    margin: 0 .4rem; }
  .pagination a:hover {
    color: #026ca8;
    /*font-size: 1.6em;
    transition: font-size .2s;*/ }
  .pagination .active {
    color: #024c76; }

@media only screen and (max-width: 600px) {
  .pagination-container {
    margin: 2rem;
    padding: 0;
    width: auto; } }
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.2rem;
  margin: 0 0 2.0rem 0; }

h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem 0; }

h3 {
  font-size: 1.4rem;
  margin: .5rem 0; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.0rem; }

h6 {
  font-size: .9rem; }

a, a:visited, a:active {
  color: #14a8fc;
  text-decoration: none; }

a:hover {
  color: #027cc1;
  text-decoration: none; }

.show {
  display: block;
  -webkit-animation: fadeIn .1s;
  animation: fadeIn .1s; }

.hidden {
  display: none;
  -webkit-animation: fadeIn .1s;
  animation: fadeIn .1s; }

.responsive {
  width: 100%;
  height: auto;
  max-width: 600px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=app.css.map */
