@charset "UTF-8";
@import url("normalize.css");
@import url("../node_modules/flexboxgrid/css/flexboxgrid.min.css");
.edge--bottom {
  position: relative;
  z-index: 1; }
  .edge--bottom:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%; }

.edge--bottom--reverse {
  position: relative;
  z-index: 1; }
  .edge--bottom--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.edge--top {
  position: relative;
  z-index: 1; }
  .edge--top:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }

.edge--top--reverse {
  position: relative;
  z-index: 1; }
  .edge--top--reverse:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }

.edge--both {
  position: relative;
  z-index: 1; }
  .edge--both:before, .edge--both:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }
  .edge--both:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%; }

.edge--both--reverse {
  position: relative;
  z-index: 1; }
  .edge--both--reverse:before, .edge--both--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both--reverse:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }
  .edge--both--reverse:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 0; }

.-berry {
  background: #b52b4a; }

.-blue {
  background: #41ade5; }

.-orange {
  background: #de6628; }

.-green {
  background: #5e9b42; }

html,
body {
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300; }

body {
  height: 200px;
  background-color: #ffffff;
  /*background-color: #14a8fc;*/
  background: url(../images/wave-top.svg) top center;
  background-size: cover;
  background-repeat: no-repeat; }

@media only screen and (max-width: 600px) {
  body {
    background-size: cover;
    height: 200px; } }
header {
  color: #ffffff;
  height: 80px; }
  header h1 {
    margin: 0 0 0 2rem;
    padding: 0; }
  header nav {
    display: block;
    margin-right: 2rem; }
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    header nav ul li {
      color: transparent;
      display: inline-block;
      text-align: center; }
    header nav ul a {
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-weight: 400;
      padding: 16px 20px;
      text-decoration: none;
      transition: .5s; }
    header nav ul a:hover {
      background-color: #99d7ff;
      color: black; }
  @media only screen and (max-width: 600px) {
    header nav {
      display: none; } }

@media only screen and (max-width: 600px) {
  header {
    height: 60px; }
    header h1 {
      font-size: 1.8rem;
      margin: 0 0 0 1rem; } }
footer.footer {
  background: url(../images/wave-bottom.svg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 280px; }

@media only screen and (max-width: 600px) {
  footer.footer {
    background-size: contain;
    height: 180px; } }
  /*
html::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 240px;
	background: url(../images/wave-top.svg) top center;
	background-size: 100%;
	z-index: -1;
  }
*/
a, a.visited {
  color: blue; }

.hidden {
  display: none; }

main {
  background-color: transparent;
  margin: 0 auto;
  padding: 8rem 0 4rem 0; }

@media only screen and (max-width: 600px) {
  main {
    padding: 3rem 0 0rem 0; } }
.container {
  width: 70%;
  margin: 0 auto; }

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: .5rem auto; } }
.background {
  margin-bottom: 4rem; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

@media only screen and (max-width: 600px) {
  .flex {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }
.about ul {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  line-height: 3.0rem;
  list-style: none; }

.strengths {
  margin-bottom: 2rem; }
  .strengths .box {
    padding: 0;
    width: 90%; }

@media only screen and (max-width: 600px) {
  .strengths .box {
    width: 100%; } }
.career {
  margin-bottom: 2rem; }
  .career .box {
    padding: 0;
    width: 90%; }

@media only screen and (max-width: 600px) {
  .career .box {
    width: 100%; } }
.projects {
  margin-bottom: 2rem; }
  .projects .box {
    padding: 0;
    width: 90%; }
  @media only screen and (max-width: 600px) {
    .projects .projects .box {
      width: 100%; } }

.education h2 {
  margin-bottom: .5rem;
  padding: .4rem; }
.education .box {
  padding: 0;
  width: 100%; }

.quote1,
.quote2 {
  background-color: #003e66;
  color: #ffffff;
  padding: .5rem;
  margin-bottom: 4rem; }
  .quote1 .content .quotation,
  .quote2 .content .quotation {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    quotes: "“" "”" "‘" "’";
    line-height: 1.4;
    margin: 0; }
  .quote1 .content .quotation:before, .quote1 .content .quotation:after,
  .quote2 .content .quotation:before,
  .quote2 .content .quotation:after {
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    color: #ffffff;
    font-size: 4rem; }
  .quote1 .content .quotation:before,
  .quote2 .content .quotation:before {
    content: open-quote;
    line-height: 0;
    left: -10px;
    top: 30px; }
  .quote1 .content .quotation::after,
  .quote2 .content .quotation::after {
    content: close-quote;
    line-height: 0;
    left: 10px;
    top: 35px; }
  .quote1 .content footer,
  .quote2 .content footer {
    display: block;
    margin: 0;
    text-align: right;
    font-family: 'Lora', serif;
    font-size: 1.0rem;
    font-style: italic; }

@media only screen and (max-width: 600px) {
  .quote1 .content,
  .quote2 .content {
    margin: 0;
    width: 90%; } }
aside {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-left: #B3782D;
  display: block;
  margin-bottom: 2rem;
  min-height: 360px;
  position: relative;
  -webkit-box-shadow: 0 0 12px 6px rgba(60, 60, 60, 0.1);
  box-shadow: 0 0 12px 6px rgba(60, 60, 60, 0.1); }

aside ul {
  margin: 1rem;
  padding: 0;
  line-height: 2.0rem;
  list-style: none; }

aside ul li {
  border-radius: 6px;
  cursor: pointer;
  display: block;
  font-size: 1.0rem;
  padding: .3rem .6rem;
  margin: .2rem 0; }

aside ul li:hover {
  background-color: #005d99;
  color: #ffffff; }

aside h4 {
  background: #B3782D;
  color: #fff;
  font-size: 1.0rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.8rem;
  padding: 0px 15px;
  margin: 0;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

@media only screen and (max-width: 600px) {
  aside h4 {
    position: initial;
    display: block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); } }
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.2rem;
  margin: 0 0 2.0rem 0; }

h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem 0; }

h3 {
  font-size: 1.4rem;
  margin: .5rem 0; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.0rem; }

h6 {
  font-size: .9rem; }

a, a:visited, a:active {
  color: #009BFF;
  text-decoration: none; }

a:hover {
  color: #006db3;
  text-decoration: none; }

.show {
  display: block;
  -webkit-animation: fadeIn .1s;
  animation: fadeIn .1s; }

.hidden {
  display: none;
  -webkit-animation: fadeIn .1s;
  animation: fadeIn .1s; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.responsive {
  width: 100%;
  height: auto;
  max-width: 600px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=app.css.map */
