@import url('../node_modules/bulma/css/bulma.min.css');

$background-color:	#ffffff;
$color1: 			#28A2FF;
$color2: 			#052F5F;
$color3: 			#D9E5D6;
$color4: 			#29B2A4;
$color5: 			#BDFFFD;
$danger:			#FF4100;
$font: 				14px;
$font-color: 		#555555;


html,
body {
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


body {
	background-color: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.2rem;
	margin: 0 0 0 0;
}
h2 {
	font-size: 1.8rem;
	margin: 0 0 2rem 0;

}
h3 {
	font-size: 1.4rem;
	margin: .5rem 0;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1.0rem;	
}
h6 {
	font-size: .9rem;	
}

a, a:visited, a:active {
	color: $color1;
	text-decoration: none;
}

a:hover {
	color: darken($color1, 15%);
	text-decoration: none;
}

.show {
	display: block;
	-webkit-animation: fadeIn .1s;
    animation: fadeIn .1s;	
}

.hidden {
	display: none;
	-webkit-animation: fadeIn .1s;
    animation: fadeIn .1s;	
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}


.responsive {
	width:100%; 
	height: auto; 
	max-width: 600px;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



.about {
	h1 {
		color: $color2;
		font-family: 'Exo 2', sans-serif;
	}

	.description {
	}

}
@media only screen and (max-width: 600px) {

}


.strengths {

	h4 {

	}

	ul li {

	}	
	
}



.career-projects  {

	h4 {

	}

	ul {
		margin-left: 1.2rem;
		list-style-type: disc;
	}	
}


.education {

	h4 {
		color: $color5;
	}

	ul li {

	}	
	
}


@media only screen and (max-width: 600px) {
}







