html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

a, a.visited {
	color: blue;
}

.hidden {
	display: none;
}

main {
	background-color: transparent; 
	margin: 0 auto;
	padding-bottom: 10rem;
}

nav {
	display: block;

	.navigation {
		justify-items: right;
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		margin: 0; 
		padding: 0;
	}
  .navigation li { 
	color: transparent;
	display: block;
	text-align: center;
  }
  .navigation .logo {
	margin-right: auto;
	margin-left: auto;
  }
  .navigation a {  
	color: #333333;
	cursor: pointer;
	display: block;
	font-weight: 400;
	padding: 16px 20px;
	text-decoration: none;
	transition:.5s;
  }
  .navigation a:hover { 
	background-color: lighten($primary, 30%);
	color: black;
  }
}


.container {
	width: 70%;
	margin: .5rem auto;
}
@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
		margin: .5rem auto;
	}
}


.background {
	margin-bottom: 4rem;
}


.about {
	ul {
		font-size: 1.8rem;
		margin: 0;
		padding: 0;
		line-height: 3.0rem;
		list-style: none;
	}	
}
 
.strengths {
	

	h2 {
		margin-bottom: .5rem;
	}	

	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;	

		h4 {
			font-weight: 600;
		}
		div {
			@include flex(1);
			margin-bottom: 2rem;
		}

		ul {
			margin: 0;
			padding: 0;
			line-height: 2.0rem;
			list-style: none;
		}
		aside {

			width: 80%;
		}
	}	

	@media only screen and (max-width: 600px) {
		.content {
			flex-direction: column;
		}
		aside  {
			width: 100%;
		}
	}

}



aside {
	display: block;
	min-height: 240px;
	position: relative;  
	border: 1px solid #cccccc;
	border-left: 34px solid $primary;
	padding: 1rem;
}

aside h4 {
	font: bold 1rem Sans-Serif;
	letter-spacing: 2px; 
	text-transform: uppercase;
	background: $primary;
	color: #fff;
	padding: 5px 10px;
	margin: 0;
	line-height: 24px;

	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin:    0 0;
	-ms-transform-origin:     0 0;
	-o-transform-origin:      0 0;
	
	-webkit-transform: rotate(90deg); 
	-moz-transform:    rotate(90deg); 
	-ms-transform:     rotate(90deg); 
	-o-transform:      rotate(90deg); 
}





.flex {
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(space-between)
}
@media only screen and (max-width: 600px) {
	.flex {
		@include flex-direction(column);
	}
}

.career {
	@include flex(1);
	margin-bottom: 2rem;

	h2 {
		margin-bottom: .5rem;
		padding: .4rem;
	}	

	.content {
		padding: 0;
		width: 90%;

		h4 {
			font-weight: 600;
		}

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			border-radius: 6px;
			cursor: pointer;
			display: block;
			font-size: 1.0rem;
			padding: .3rem .6rem;
			margin: .5rem 0;
			.date {
				float: right;
			}
		}
		li:hover {
			background-color: darken($primary, 20%);
			color: #ffffff;
		}	

		aside {

		}

	}	
	@media only screen and (max-width: 600px) {
		.content {
			width: 100%;
			.date {
				float: none;
			}
		}

	}	



}

.projects {
	@include flex(1);
	margin-bottom: 2rem;

	h2 {
		margin-bottom: .5rem;
		padding: .4rem;
	}	

	.content {
		padding: 0;
		width: 90%;

		h4 {
			font-weight: 600;
		}

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			border-radius: 6px;
			cursor: pointer;
			display: block;
			font-size: 1rem;
			padding: .3rem .6rem;
			margin: .5rem 0;
			list-style-type: none;
			.company {
				float: right;
			}			
		}
		li:hover {
			background-color: darken($primary, 20%);
			color: #ffffff;
		}	

		aside {
			
		}

	}	

	@media only screen and (max-width: 600px) {
		.content {
			width: 100%;
		}
		.company {
			float: none;
		}
	}	

}

.education {
	h2 {
		margin-bottom: .5rem;
		padding: .4rem;
	}	

	.content {
		display: flex;
		flex-direction: column;
		padding: 0;

		h4 {
			font-weight: 600;
		}
		div {
			margin-bottom: 2rem;
		}
	}	

	li {
		display: block;
		font-size: 1.0rem;
		padding: .4rem;
		list-style-type: none;
	}

}


.quote1,
.quote2  {
	background-color: darken($primary, 20%);
	color: #ffffff;
	padding: .5rem;
	margin-bottom: 4rem;

	.content {
		
		.quotation{
			font-family: 'Lora', serif;
			font-size: 1.4rem;
			quotes: "\201C""\201D""\2018""\2019";
			line-height: 1.4;
			margin: 0;
		}
		.quotation:before, .quotation:after  {
			display: inline;
			height: 0;
			line-height: 0;
			position: relative;
			color: rgb(126, 126, 126);
			font-size: 4rem;
		}
		.quotation:before {
			content: open-quote;
			line-height: 0;
			left: -10px;
			top: 30px;
		}		  
		.quotation::after {
			content: close-quote;
			line-height: 0;
			left: 10px;
			top: 35px;
		}		  
		footer{
			display: block;
			margin:0;
			text-align: right;
			font-family: 'Lora', serif;
			font-size: 1.0rem;
			font-style: italic;
		}
	}

}

@media only screen and (max-width: 600px) {
	.quote1,
	.quote2  {
	
		.content {
			margin: 0;
			width: 90%;
		}
	
	}
}







