html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

body {
	height: 200px;
	background-color: #ffffff;
	/*background-color: #14a8fc;*/

	background: url(../images/wave-top.svg) top center;
	background-size: cover;
	background-repeat: no-repeat;

  }
 
@media only screen and (max-width: 600px) {
	body {
		background-size: cover;
	}
}

header {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	height: 80px;

	h1 {
		margin: 0 0 0 2rem;
		padding: 0;
	}
}
@media only screen and (max-width: 600px) {
	header { 
		height: 60px;
	
		h1 {
			font-size: 1.8rem;
			margin: 0 0 0 1rem;
		}
	}
}


footer.footer {
	height: 290px;
	background: url(../images/wave-bottom.svg) bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
}

  /*
html::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 240px;
	background: url(../images/wave-top.svg) top center;
	background-size: 100%;
	z-index: -1;
  }
*/

a, a.visited {
	color: blue;
}

.hidden {
	display: none;
}

main {
	background-color: transparent; 
	margin: 0 auto;
	padding-bottom: 10rem;
}

nav {
	display: block;
	margin-right: 2rem;
	.navigation {
		justify-items: right;
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		margin: 0; 
		padding: 0;
	}
	@media only screen and (max-width: 600px) {
		.navigation {
			display: none;
		}
	}
	.navigation li { 
		color: transparent;
		display: block;
		text-align: center;
	}
	.navigation a {  
		color: #ffffff;
		cursor: pointer;
		display: block;
		font-weight: 400;
		padding: 16px 20px;
		text-decoration: none;
		transition:.5s;
	}
	.navigation a:hover { 
		background-color: lighten($primary, 30%);
		color: black;
	}
}


.container {
	width: 70%;
	margin: .5rem auto;
}
@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
		margin: .5rem auto;
	}
}


.background {
	margin-bottom: 4rem;
}


.flex {
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(space-between)
}
@media only screen and (max-width: 600px) {
	.flex {
		@include flex-direction(column);
	}
}


.about {
	ul {
		font-size: 1.8rem;
		margin: 0;
		padding: 0;
		line-height: 3.0rem;
		list-style: none;
	}	
}
 
.strengths {
	

	h2 {
		margin-bottom: .5rem;
	}	

	.content {
		display: flex;
		flex-direction: row;

		h4 {
			font-weight: 600;
		}
		div {
			@include flex(1);
			margin-bottom: 2rem;
		}



		ul {
			margin: 0;
			padding: 0;
			line-height: 2.0rem;
			list-style: none;
		}
		aside {
			width: 72%;
		}
	}	

	@media only screen and (max-width: 600px) {
		.content {
			flex-direction: column;
			aside  {
				width: auto;
			}		
		}

	}

}



.career {
	@include flex(1);
	margin-bottom: 2rem;

	h2 {
		margin-bottom: .5rem;
		padding: .4rem;
	}	

	.content {
		padding: 0;
		width: 90%;

		h4 {
			font-weight: 600;
		}

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			border-radius: 6px;
			cursor: pointer;
			display: block;
			font-size: 1.0rem;
			padding: .3rem .6rem;
			margin: .5rem 0;
			.date {
				float: right;
			}
		}
		li:hover {
			background-color: darken($primary, 20%);
			color: #ffffff;
		}	

		aside {

		}

	}	
	@media only screen and (max-width: 600px) {
		.content {
			width: 100%;
			li .date {
				float: none;
				display: block;
			}
		}

	}	



}

.projects {
	@include flex(1);
	margin-bottom: 2rem;

	h2 {
		margin-bottom: .5rem;
		padding: .4rem;
	}	

	.content {
		padding: 0;
		width: 90%;

		h4 {
			font-weight: 600;
		}

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			border-radius: 6px;
			cursor: pointer;
			display: block;
			font-size: 1rem;
			padding: .3rem .6rem;
			margin: .5rem 0;
			list-style-type: none;
			.company {
				float: right;
			}			
		}
		li:hover {
			background-color: darken($primary, 20%);
			color: #ffffff;
		}	

		aside {
			
		}

	}	

	@media only screen and (max-width: 600px) {
		.content {
			width: 100%;
			li .company {
				float: none;
				display: block;
			}			
		}

	}	

}

.education {
	h2 {
		margin-bottom: .5rem;
		padding: .4rem;
	}	

	.content {
		display: flex;
		flex-direction: column;
		padding: 0;

		h4 {
			font-weight: 600;
		}
		div {
			margin-bottom: 2rem;
		}
	}	

	li {
		display: block;
		font-size: 1.0rem;
		padding: .4rem;
		list-style-type: none;
	}

}


.quote1,
.quote2  {
	background-color: darken($primary, 30%);
	color: #ffffff;
	padding: .5rem;
	margin-bottom: 4rem;

	.content {
		
		.quotation{
			font-family: 'Lora', serif;
			font-size: 1.4rem;
			quotes: "\201C""\201D""\2018""\2019";
			line-height: 1.4;
			margin: 0;
		}
		.quotation:before, .quotation:after  {
			display: inline;
			height: 0;
			line-height: 0;
			position: relative;
			color: #ffffff;
			font-size: 4rem;
		}
		.quotation:before {
			content: open-quote;
			line-height: 0;
			left: -10px;
			top: 30px;
		}		  
		.quotation::after {
			content: close-quote;
			line-height: 0;
			left: 10px;
			top: 35px;
		}		  
		footer{
			display: block;
			margin:0;
			text-align: right;
			font-family: 'Lora', serif;
			font-size: 1.0rem;
			font-style: italic;
		}
	}

}

@media only screen and (max-width: 600px) {
	.quote1,
	.quote2  {
	
		.content {
			margin: 0;
			width: 90%;
		}
	
	}
}


aside {
	background-color: #ffffff;
	display: block;
	min-height: 240px;
	position: relative;  
	border: 1px solid #cccccc;
	border-left: $secondary;
	padding: 1rem;

	-webkit-box-shadow: 0 0 12px 6px rgba(60,60,60,.1);
	box-shadow: 0 0 12px 6px rgba(60,60,60,.1);	
}

aside h4 {
	font: bold 1rem Sans-Serif;
	letter-spacing: 2px; 
	text-transform: uppercase;
	background: $secondary;
	color: #fff;
	padding: 5px 10px;
	margin: 0;
	line-height: 24px;

	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin:    0 0;
	-ms-transform-origin:     0 0;
	-o-transform-origin:      0 0;
	
	-webkit-transform: rotate(90deg); 
	-moz-transform:    rotate(90deg); 
	-ms-transform:     rotate(90deg); 
	-o-transform:      rotate(90deg); 
}

@media only screen and (max-width: 600px) {
	aside h4 {
		position: initial;
		display: block;
		margin-bottom: 1rem;

		-webkit-transform: rotate(0deg); 
		-moz-transform:    rotate(0deg); 
		-ms-transform:     rotate(0deg); 
		-o-transform:      rotate(0deg); 
	}

}






