html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

body {
	background-color: #ffffff;
}

main {
	background-color: transparent; 
	margin: 0 auto;
	padding: 0;
}
@media only screen and (max-width: 600px) {
	main {
		padding: 0;
	}
}

.container {
	width: 80%;
	margin: 0 auto;
}
@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
	}
}

.about {
	background-image: url('../images/lg-box-background.svg');
	background-color: $color1;
	height: 100vh;/* You must set a specified height */
	background-position: 100% 100%; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: auto;

	h4 {
		background-color: lighten($color1, 20%);
		color: $color1;
	}
	.row {
		height: 80vh;
	}
	h1 {
		color: $color2;
		font-family: 'Exo 2', sans-serif;
		font-size: 5.0rem;
		font-weight: 300;
		text-transform: uppercase;
	}

	.description {
		background-color: rgba(255, 255, 255, .4);
		border: 1px solid $color4;
		border-radius: 4px;
		color: darken($color4, 30%);
		font-size: 1.1rem;
		padding: 1rem;
	}

}
@media only screen and (max-width: 600px) {
	.about {
		margin-top: -2rem;
	}
}


.strengths {
	background-image: url('../images/lg-box-background.svg');
	background-color: $color3;
	height: 100vh;/* You must set a specified height */
	background-position: 90% 90%; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: auto;	

	.row {
		height: 80vh;
	}

	h4 {
		background-color: darken($color3, 40%);
		color: $color3;
	}

	.box {
		padding: 0;
	}

	ul li {
		font-size: 1.4rem;
		line-height: 2.0rem;
	}	
	
}


.career-projects  {
	background-image: url('../images/lg-box-background.svg');
	background-color: $color4;
	height: 100vh;/* You must set a specified height */
	background-position: 90% 90%; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: auto;	
	
	.row {
		height: 80vh;
	}

	h4 {
		background-color: darken($color4, 20%);
		color: $color4;
	}

	.box {
		padding: 0;
	}

	ul li {
		font-size: 1.4rem;
		line-height: 2.0rem;
	}	
}


.education {
	background-image: url('../images/lg-box-background.svg');
	background-color: $color5;
	height: 100vh;/* You must set a specified height */
	background-position: 90% 90%; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: auto;	

	.row {
		height: 80vh;
	}

	h4 {
		background-color: darken($color5, 40%);
		color: $color5;
	}

	.box {
		padding: 0;
	}

	ul li {
		font-size: 1.4rem;
		line-height: 2.0rem;
	}	
	
}





.quote1,
.quote2  {
	background-color: $color2;;
	color: darken($color1, 30%);
	padding: .5rem;
	margin-bottom: 4rem;

	.content {
		
		.quotation{
			font-family: 'Lora', serif;
			font-size: 1.4rem;
			quotes: "\201C""\201D""\2018""\2019";
			line-height: 1.4;
			margin: 0;
		}
		.quotation:before, .quotation:after  {
			display: inline;
			height: 0;
			line-height: 0;
			position: relative;
			color: #ffffff;
			font-size: 4rem;
		}
		.quotation:before {
			content: open-quote;
			line-height: 0;
			left: -10px;
			top: 30px;
		}		  
		.quotation::after {
			content: close-quote;
			line-height: 0;
			left: 10px;
			top: 35px;
		}		  

	}

}

@media only screen and (max-width: 600px) {
	.quote1,
	.quote2  {
	
		.content {
			margin: 0;
			width: 90%;
		}
	
	}
}


aside {
	background-color: #ffffff;
	display: block;
}

aside h4 {
	border-radius: .2rem;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 2px; 
	line-height: 1.8rem;
	padding: 1rem;
	margin: 0;
	text-transform: uppercase;
}

aside ul {
	display: block;
	padding: 1rem 2rem 2rem 1rem;
	line-height: 2.0rem;
	list-style: none;
}

aside ul li {
	border-radius: 6px;
	display: block;
	font-size: 2.4rem;
	padding: .1rem .6rem;
	.type, .title {
		color: complement($color1);
		float: right;
	}	
}

aside ul li.link-hover {
	cursor: pointer;
}

aside ul li.link-hover:hover {
	background-color: darken($color1, 20%);
	color: #ffffff;
	.type, .title {
		color: #ffffff;
	}	
}




@media only screen and (max-width: 600px) {
	aside {
	}
}




