

.details-highlights {
	webkit-animation: fadeIn .6s;
	animation: fadeIn .6s;
	@include flexbox();
	@include flex-direction(column);
	line-height: 1.6rem;
	max-width: 40rem;
	margin: 6rem auto 0 auto;

	h3 {
		font-size: 1.2rem;
		font-weight: 600px;
		margin: 0;
	}

	.detail-header {
		@include flexbox();
		@include flex-direction(column);
		font-weight: 700;
		margin-bottom: .5rem;
		h3 {
			font-size: 1.4rem;
			font-weight: 600;
			margin: 0;
		}
		span {
			font-size: 1.0rem;
		}
	}

	.details-screenshots {
		@include flex(1);
		
		.career__screenshot {
			max-width: 100%;
		}	
	}	

	.details-content {
		font-size: 1.0rem;
		margin: 2rem 0;
		@include flex(1);

		ul {
			li {
				margin-bottom: .5rem;
			}
		}


	}
}

@media only screen and (max-width: 600px) {
	.details-highlights {
		@include flex-direction(column);
		margin: 6rem 2rem 0 2rem;

		.details-content {
			padding: 0;
		}
	}
}


.pagination-container {
	background-color: #ffffff;
	height: 5rem;
	@include flexbox();
	@include flex-direction(row);	
	@include justify-content(space-between);	
	@include align-items(center);
	margin: 0 auto;
	max-width: 40rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.home, .back, .next {
		cursor: pointer;
		display: inline;
		font-size: 1.4rem;
	}	
	.back, .next {
		color: $primary;
		margin: 0 .4rem;
	}	

	.home {
		color: $danger;
	}	
	.home:hover {
		color: darken($danger, 10%);
	}	
	.next:hover, .back:hover {
		color: darken($primary, 20%);
	}	
				
}
@media only screen and (max-width: 600px) {
	.pagination-container {
		margin: 0 2rem;
		padding: 0;
		width:  auto;
	}
}




/*Desktop*/
@media only screen and (min-width: 600px) {

	.pagination {
		display: inline;
		a {
			cursor: pointer;
			font-size: 1.0rem;
			margin: 0 .4rem;
		}
	
		a:hover {	
			color: darken($primary, 20%);
		}		
	
		.active {
			color: darken($primary, 30%);
		}		
	}

}

/*Mobile*/
@media only screen and (max-width: 600px) {

	.pagination {		
	}

}








  