@import url("normalize.css");
/*Shared classes from design.scss*/
html,
body {
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

body {
  height: 200px;
  background-color: #ffffff;
  /*background-color: #14a8fc;*/
}

.details-highlights {
  webkit-animation: fadeIn .6s;
  animation: fadeIn .6s;
}

.details-highlights .details-screenshots .career__screenshot {
  border: 1px solid #dcdcdc;
  max-width: 100%;
}

.pagination-container .home, .pagination-container .back, .pagination-container .next {
  cursor: pointer;
  font-size: 1.0rem;
}

.pagination-container .back, .pagination-container .next {
  margin: 0 .2rem;
}

.pagination-container .home {
  display: inline;
}

.pagination-container .home:hover {
  color: #1f88d1;
}

.pagination-container .next:hover, .pagination-container .back:hover {
  color: #1f88d1;
}

/*Desktop*/
.pagination2 {
  display: inline;
}

.pagination2 a {
  color: #124E78;
  cursor: pointer;
  font-size: 1.0rem;
  margin: 0 .4rem;
}

.pagination2 a:hover {
  color: #1f88d1;
}

@media only screen and (max-width: 600px) {
  .pagination {
    display: none;
  }
}

.hidden {
  display: none;
}
