

.career__highlights {
	webkit-animation: fadeIn .6s;
	animation: fadeIn .6s;
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(wrap);
	vertical-align: top;
	width: 70%;
	margin: 0 auto;

	> div {
		padding: 2rem;
	}

	.career__screenshots {
		max-width: 400px;
	}

	.career__screenshot {
		max-width: 100%;
		min-width: 400px;
	}
}


.pagination-container {
	padding: 2rem;
	text-align: center;

	.home, .back, .next {
		cursor: pointer;
		display: inline;
		opacity: 1;
	}		
}

.pagination {
	display: inline;
	a {
		background-color: $primary;
		border: 0px solid darken($primary, 10%);
		border-radius: 50%;
		cursor: pointer;
		display: inline-block;
		margin: 0 .3rem;
		width: 15px;
		height: 15px;
	}

	a:hover {
		transform: scale(1.5);	
		transition: all 200ms;		
	}		

	a.active {
		background-color: #f3f3f3;
		border: 0px solid blue;
	}		
}






