$background-color:	#ffffff;
$primary: 			#009BFF;
$secondary:			#8db600;
$alternative:		#FF4100;
$danger:			#FF4100;
$font: 				14px;
$font-color: 		#555555;


@import url('normalize.css');
@import 'mixins';

/*Shared classes from design.scss*/
html,
body {
	color: $font-color;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

body {
	height: 200px;
	background-color: #ffffff;
	/*background-color: #14a8fc;*/
  }


 
@media only screen and (max-width: 600px) {

}

.container {
	width: 80%;
	margin: .5rem auto;
}
@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
}









.details-highlights {
	webkit-animation: fadeIn .6s;
	animation: fadeIn .6s;
	@include flexbox();
	@include flex-direction(column);
	line-height: 1.6rem;
	max-width: 50rem;
	margin: 7rem auto 0 auto;

	h3 {
		font-size: 1.2rem;
		font-weight: 600px;
		margin: 0;
	}

	.detail-header {
		@include flexbox();
		@include flex-direction(row);
		@include justify-content(space-between);
		font-weight: 700;
		margin-bottom: .5rem;

		span { display: block; }

		.title {
			font-size: 1.4rem;
			font-weight: 600;
		}
		.subtitle {
			color: #999999;;
			font-size: 1.0rem;
			font-weight: 300;
		}			
		.date {
			color: $secondary;
			font-size: 1.8em;
			font-weight: 300;
			margin: 0;
		}			
	}
	@media only screen and (max-width: 600px) {
		.detail-header {
			@include flex-direction(column);
			.title {
				font-size: 1.1rem;
			}
			.subtitle {
				font-size: 1.0rem;
			}			
			.date {
				font-size: 1.0rem;
			}				
		}
		
	}

	.details-screenshots {
		@include flex(1);
		
		.career__screenshot {
			border: 1px solid #cccccc;
			max-width: 100%;
		}	
	}	

	.details-content {
		font-size: 1.0rem;
		margin: 2rem 0;
		@include flex(1);

		ul {
			li {
				margin-bottom: .5rem;
			}
		}


	}
}

@media only screen and (max-width: 600px) {
	.details-highlights {
		margin: 6rem 2rem 0 2rem;

		.details-content {
			padding: 0;
		}
	}
}


.pagination-container {
	background-color: #005d99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	

	.pagination-fixed {
		@include flexbox();
		@include flex-direction(row);	
		@include justify-content(space-between);	
		@include align-items(center);
		height: 4rem;
		margin: 0 auto;
		max-width: 50rem;
	}

	.home, .back, .next {
		border: none;
		background-color: transparent;
		cursor: pointer;
		display: inline;
		font-size: 2.0rem;
	}	
	.back, .next {
		color: #ffffff;
		margin: 0 .2rem;
	}	

	.home {
		color: #ffffff;
	}	
	.home:hover {
		color: lighten($primary, 20%);
	}	
	.next:hover, .back:hover {
		color: lighten($primary, 20%);
	}	
				
}
@media only screen and (max-width: 600px) {
	.pagination-container {
		padding: 0 2rem;
		width:  auto;
	}
}


/*Desktop*/
@media only screen and (min-width: 600px) {

}



.pagination {
	display: inline;
	a {
		color: #ffffff;
		cursor: pointer;
		font-size: 1.0rem;
		margin: 0 .4rem;
	}

	a:hover {	
		color: lighten($primary, 20%);
	}		

	.active {
		
	}		
}
@media only screen and (max-width: 600px) {
	.pagination {
		display: none;	
	}
}





.hidden {
	display: none;
}

  