{{#items}}
<div class="block content link-hover mt-6 mb-6" style="border-bottom:1px solid #cccccc" page="{{id}}" id="career{{ id }}">
	<h5 class="company has-text-weight-semibold m-0">{{ jobTitle }}</h5>
	<span class="is-block">{{ company }}</span> 
	<span class="is-block">{{ date }}</span> 

	<p class="block">{{ description }}</p>

	<div class="details-content mb-6"> 						
		<h5>Accomplishments</h5>
		<ul>
		{{#accomplishments}}
			<li>{{{ accomplishment }}}</li>
		{{/accomplishments}}
		</ul>	
		
		<br/>
		<h5>Role Summary</h5>
		<ul>
		{{ #roles }}
			<li>{{ role }}</li>
		{{ /roles }}
		</ul>	

	</div>
</div>
{{/items}}

<script>
	$( ".career .link-hover").click(function() {
		var item = this.getAttribute("page");
		localStorage.setItem('current', item); 
		//window.location='details-career.html'
	});	
</script>