<div class="container">
	<h2>Career History</h2>
	<div class="content">
		{{#items}}
		<article class="" page="{{id}}" id="career{{ id }}">
			<span class="company">{{ company }}</span> 
			<span class="title">{{ jobTitle }}</span> 
			<span class="date">{{ shortdate }}</span> 
		</article>
		{{/items}}
	</div>
</div>

<script>
	$( ".career article" ).click(function() {
		var item = this.getAttribute("page");
		localStorage.setItem('current', item); 
		window.location='details-career.html'
	});	
</script>