<div class="content">

	<aside>
		<h4>Career History</h4>
		<ul>
			{{#items}}
			<li class="" page="{{id}}" id="career{{ id }}">
				<span class="company">{{ company }}</span>
				<span class="title">{{ jobTitle }}</span> 
				<span class="date">{{ shortdate }}</span> 
			</li>
			{{/items}}
		</ul>
	</aside>

</div>


<script>
	$( ".career li" ).click(function() {
		var item = this.getAttribute("page");
		localStorage.setItem('current', item); 
		window.location='details-career.html'
	});	
</script>