<div class="container">
	<h2>Favorite Projects</h2> 
	<div class="content">
		{{ #items }}
		<article page="{{id}}" id="{{ id }}">
				<span class="title">{{ project }}</span> 
				<span class="company">{{ company }}</span> 
				<span class="date"> {{ date }}</span>
		</article>	
		{{ /items }}
	</div>
</div>

<script>
	$( ".projects article" ).click(function() {
		var item = this.getAttribute("page");
		localStorage.setItem('current', item); 
		window.location='details-project.html'
	});	
</script>