<div class="content">
	
	<aside>
		<h4>Recent Projects</h4>
		<ul>
			{{ #items }}
			<li page="{{id}}" id="{{ id }}">
					<span class="title">{{ project }}</span>
					<span class="type hidden">{{ type }}</span>
					<span class="company hidden">{{ company }}</span> 
			</li>	
			{{ /items }}
		</ul>		
	</aside>

</div>

<script>
	$( ".projects li" ).click(function() {
		var item = this.getAttribute("page");
		localStorage.setItem('current', item); 
		window.location='details-project.html'
	});	
</script>