


<div class="container">	

	<div class="columns">

		<div class="column">
			<div class="box">
					<aside>
						<h4>Development</h4>
						<ul>
							<li>Business requirement mockups</li>
							<li>User workflow mockups</li>
							<li>Software prototypes</li>
							<li>User interface design</li>
							<li>Corporate styleguide</li>
							<li>UX User Experience</li>
						</ul>
					</aside>

			</div>
		</div>
		<div class="column">
			<div class="box">
					<aside>
						<h4>Design</h4>
						<ul>
							<li>HTML5, CSS3, SCSS</li>
							<li>Javascript/DOM</li>
							<li>UI component library</li>
							<li>Responsive Design</li>
							<li>Cross browser/device</li>
							<li>Accessibility / WCAG</li>
						</ul>
					</aside>
			</div>
		</div>

	</div>

</div>