


<div class="container">	

	<div class="row middle-xs">

		<div class="col-xs-12 col-sm">
			<div class="box">
					<aside>
						<h4>Development</h4>
						<ul>
							{{#development}}
							<li>{{name}}</li>
							{{/development}}
						</ul>
					</aside>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="box">
					<aside>
						<h4>Design</h4>
						<ul>
							{{#design}}
							<li>{{name}}</li>
							{{/design}}
						</ul>
					</aside>
			</div>
		</div>

	</div>

</div>